---
title: BW Keller
subtitle: is not a hard man to find
---

{% extends "columns.j2" %}

{% block main %}
## Net
[** google+ **](https://plus.google.com/u/0/113837197027968584334/)

[** github **](https://github.com/bwkeller)

[** twitter **](http://twitter.com/malzraa)

[** gmail**](http://www.google.com/recaptcha/mailhide/d?k=01euOUOSEp2dwj6-LFXQ9uJg==&c=EiHACLu4zpLuRIoWJnbMdZjg_Hs5_IuQG2Hut9CJKus=)

** skype ** bw.keller
## Work 
** Office ** ABB-149

** Phone ** (905) 525-9140 ext. 23631

** Email ** kell<a href="http://www.google.com/recaptcha/mailhide/d?k=01euOUOSEp2dwj6-LFXQ9uJg==&amp;c=cNJEFVSKXcKzwilRL8omSLwlyyJJ92jx1cjFgcHzj6A=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501euOUOSEp2dwj6-LFXQ9uJg\75\75\46c\75cNJEFVSKXcKzwilRL8omSLwlyyJJ92jx1cjFgcHzj6A\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@mcmaster.ca

** Address** 

    BW Keller
    Department of Physics & Astronomy
    ABB-241, McMaster University
    1280 Main St. W
    Hamilton, ON, L8S 4M1
    Canada

## Home

** Phone ** (289) 426-1789

** Address** 

    BW Keller
    80 King William Street
    Hamilton, ON, L8R 0A1
    Canada
{% endblock main %}


{% block sidebar %}
<img src="media/img/bwkeller2.jpg">
{% endblock sidebar %}
