---
title: How supernova explosions power galactic winds
---

{% extends "full.j2" %}
{% block main %}
### Derivation of Outflow
To calculate the mass-flow through a surface, we can take the definition of the SPH density:

&rho; = &Sigma;<sub>i</sub> m<sub>i</sub> W(**r**<sub>i</sub>, h<sub>i</sub>)

&part; &rho; = &Sigma;<sub>i</sub> m<sub>i</sub> W(**r**<sub>i</sub>, h<sub>i</sub>)

For the standard M4 Cubic spline kernel (I got this from Thomas and Couchman 1992):

W(x) = 1/4&pi; (4-6x<sup>2</sup>+3x<sup>3</sup>) if x &leq; 1

W(x) = 1/4&pi; (2-x)<sup>3</sup> if 1 &lt; x &leq; 2


&part; W / &part; x = 

W(x) = 1/4&pi; (4-6x<sup>2</sup>+3x<sup>3</sup>) if x &leq; 1

W(x) = 1/4&pi; (2-x)<sup>3</sup> if 1 &lt; x &leq; 2
### Figures
![Creasey et. al. Figure 9](Research/creasey_figure9.png)
The above figure shows the calculated mass-loading factor &beta; versus gas surface density for a number
of my feedback recipes.

![Inflow](Research/creasey_inflow.png)
{% endblock main %}

