---
title: BW Keller
subtitle: has a few things under his belt
---

{% extends "full.j2" %}

{% block main %}
## Education
* MSc Physics and Astronomy, McMaster University 2011-present (expected 2013)
* BSc Physics with Computer Science Minor, University of Calgary 2011
## Research Experience
* McMaster University, MSc Thesis project, stellar feedback processes in galaxy simulations. 2011-present
* University of Calgary, Median stacking for radio polarization project, 3 papers in prep, 2009-2010
* University of Calgary, Source finding software evaluation with POSSUM Working Group 2, Summer 2010
* University of Calgary, “Radio Emission and Polarization of Optically Selected AGN Host Galaxies”,
Physics 599 Independent Research Project, Fall 2010
## Awards
* Dean’s Merit Admission Award - Faculty of Science, University of Calgary, 2006
* Admission Scholarship, University of Calgary, 2006
* Jason Lang Scholarship, Alberta Education, 2009 & 2010
* Student Peer Assistance Undergraduate Bursaries, University of Calgary, 2010
## Teaching Experience
* Teaching Assistant, McMaster University Undergraduate Physics & Astronomy, 2011-present
* Physics Tutor, Alberta High School Physics, 2010-2011
## Publications
### Posters & Conference Presentations
* "Star Formation Regulation in a Simulated Galactic Disk" Ben Keller, James Wadsley, Chris Gatopolous, Hugh Couchman
(Poster presented at CASCA 2012)
* “Probing Polarization in Faint Radio Sources Using Median Stacking” Ben W. Keller, Jeroen M. Stil,
Samuel J. George, A. R. Taylor (Poster presented at CASCA 2011)
* “Polarized Source Counts and Stacking” Samuel J. George, Jeroen M. Stil, & Ben W. Keller (Talk delivered
by Dr. George at GALFACTS/POSSUM 2010 Workshop)
* “Why Are Faint Radio Sources More Highly Polarized” Jeroen M. Stil, Ben W. Keller, Samuel J. George,
& Russ Taylor (Poster presented by Dr. Stil at SKA 2010 Conference)
### Peer-Reviewed Publications
* “Detection Thresholds and Bias Correction in Polarized Intensity” Samuel J. George, Jeroen M. Stil, Ben
W. Keller 2011 [Publications of The Astronomical Society of Australia]( http://dx.doi.org/10.1071/AS11027)
## Public Outreach
### Talk & Presentations
* “Building a Stack for Fun and Profit” talk delivered Rothney Astrophysical Observatory, 2010
* “A Brief History of Radio Astronomy” talk delivered at [Calgary Pecha Kucha Night 4](http://pecha-kucha.org/night/calgary/4), 2010
* “Astronomy For Hackers” talk delivered at [Toorcamp](http://www.toorcamp.org), 2009
### Volunteer Work
* Organizer for Hamilton [All Science Challenge](http://www.letstalkscience.ca/challenge.html), 2012
* Mentor for [FIRST LEGO League](http://firstlegoleague.org/challenge/2011foodfactor) team, 2011-2012
* Volunteer at [Rothney Astrophysical Observatory](http://www.ucalgary.ca/rao/), 2010-2011
* Director of [Calgary Protospace](http://protospace.ca/), 2010-2011
## Computing Skills & Experience
### Programming Languages I Speak
* C/C++
* Perl
* Python
* Bash
* Java
### Software Contributions
* [astLib](http://astlib.sf.net) Python Astronomy Modules (patch accepted into version 0.3.2)
{% endblock main %}
