---
title: Disk Comparison
---

{% extends "research.j2" %}
{% block main %}
Adiabatic Evolution
=============================
These videos show the evolution of the disk with adiabatic gas, no feedback, or starformation:

* [Stars](Research/LOW_stars.mp4)
* [Gas](Research/LOW_gas.mp4)

They look like they are expanding, but it is actually a rather gentle change:
[<img src="Research/halfmass_radius_baryonic.png" width=800>](Research/halfmass_radius_baryonic.png)
[<img src="Research/halfmass_radius_darkmatter.png" width=800>](Research/halfmass_radius_darkmatter.png)
{% endblock main %}

