---
title: Alternative Feedback Kernels
---

{% extends "research.j2" %}
{% block main %}
Tophat Kernel
==============================================================
## [Param File](Research/feedback_kernel/tophat.param)
## Movies
### Particles, Temperature Colored

[M4 Kernel](Research/feedback_kernel/M4_particle_temp.mp4)

[nSmoothFeedback = 64](Research/feedback_kernel/tophat64_particle_temp.mp4)

[nSmoothFeedback = 32](Research/feedback_kernel/tophat32_particle_temp.mp4)

[nSmoothFeedback = 16](Research/feedback_kernel/tophat16_particle_temp.mp4)

[nSmoothFeedback = 8](Research/feedback_kernel/tophat8_particle_temp.mp4)

## Phase Diagrams from timestep 250 ($\approx 24 Myr$)
### Standard M4 Kernel
[<img src="Research/feedback_kernel/M4_phase.png" width=800>](Research/feedback_kernel/M4_phase.png)
### Tophat Kernel, nSmoothFeedback = 64
[<img src="Research/feedback_kernel/tophat64_phase.png" width=800>](Research/feedback_kernel/tophat64_phase.png)
### Tophat Kernel, nSmoothFeedback = 32
[<img src="Research/feedback_kernel/tophat32_phase.png" width=800>](Research/feedback_kernel/tophat32_phase.png)
### Tophat Kernel, nSmoothFeedback = 16
[<img src="Research/feedback_kernel/tophat16_phase.png" width=800>](Research/feedback_kernel/tophat16_phase.png)
### Tophat Kernel, nSmoothFeedback = 8
[<img src="Research/feedback_kernel/tophat8_phase.png" width=800>](Research/feedback_kernel/tophat8_phase.png)

## Starformation History
[<img src="Research/feedback_kernel/kernel_SFH.png" width=800>](Research/feedback_kernel/kernel_SFH.png)
{% endblock main %}
