---
title: Star in A Box
---

{% extends "research.j2" %}
{% block main %}
The Minimum Initial Condition
=============================
The purpose of the onestar IC is to provide the smallest possible test case:  A single star in a gas sphere.

Density Profile
-----------------------------
<img src="Research/onestar/onestar_density.png">

Temperature Profile
-----------------------------
<img src="Research/onestar/onestar_temperature.png">

MAGICC Feedback Energy Budget
-----------------------------
I've used the single star in a box as a test to find the energy output of the MAGICC feedback model.  Below are a number of figures showing
these results.


[<img src="Research/onestar/MAGICC_output_delta.png" width=800>](Research/onestar/MAGICC_output_delta.png)
[<img src="Research/onestar/MAGICC_output.png" width=800>](Research/onestar/MAGICC_output.png)

These figures can be compared to the standard gasoline SNe feedback results.
[<img src="Research/onestar/feedback_output_delta.png" width=800>](Research/onestar/feedback_output_delta.png)
[<img src="Research/onestar/feedback_output.png" width=800>](Research/onestar/feedback_output.png)
{% endblock main %}

