---
title: BW Keller
subtitle: is a scientist
---

{% extends "full.j2" %}

{% block main %}
## Presentations
###[2012 Summer Colloquium](presentations/colloquium_summer2012)
My McMaster Summer Graduate Colloquium, delivered August 2.  I talk a bit
about the motivation of my research, and the current state of the work.
###[2012 Symposium Day Talk](presentations/symposium_day_2012)
My McMaster Symposium Day talk, delivered September 4.  I give a brief
15 minute overview of the state of Stellar Feedback, and the progress of
my research.

## Research Data
### [Creasey et. al. 2012 Comparison](creasey.html)
A few figures and notes relating to *How supernova explosions power galactic winds* by Creasey et. al.
### [Miscellaneous Data](Research/)
You can find some random data files I have put together for group meetings
and the like here.  None of this stuff is organized by anything other than
filename.
{% endblock main %}

