---
title: BW Keller
subtitle: Secret research data 
---

{% extends "full.j2" %}

{% block main %}
## Research Data
### [ACTION ITEMS](action.html)
Action Items on verifying uNoncool
### [Alternate Feedback Kernels](feedback_kernel.html)
Using different kernels to get a nicer distribution of FB energy
### [Creasey et. al. 2012 Comparison](creasey.html)
A few figures and notes relating to *How supernova explosions power galactic winds* by Creasey et. al.
### [Clustered Starformation](clustered_starformation.html)
Using new feedback physics to look at the formation of clusters of stars
### [Disk Comparison](disk_comparison.html)
Notes for Oscar's Disk Comparison
### [Nonthermal Energy in Gasoline](unoncool.html)
Tests on the new noncooling/nonthermal energy support added to gasoline.
### [Perturbed Stratified Box](perturbed_disk.html)
A version of Chris' disk with a cluster-forming perturbation.
### [Single Star Test](onestar.html)
Notes for tests involving the single star box.
### [SPH Particle Mass Variation with the Sedov Blast](sedov_sphmass.html)
Testing the limits of SPH with different particle masses using the Sedov Blast and its Analytic Solution.

***

### [Miscellaneous Data](Research/)
You can find some random data files I have put together for group meetings
and the like here.  None of this stuff is organized by anything other than
filename.
{% endblock main %}

