---
title: BW Keller
subtitle: is a scientist
---

{% extends "full.j2" %}

{% block main %}
## Presentations
###[2012 Summer Colloquium](presentations/colloquium_summer2012)
My McMaster Summer Graduate Colloquium, delivered August 2.  I talk a bit
about the motivation of my research, and the current state of the work.
## Research Data
### [Creasey et. al. 2012 Comparison](creasey.html)
A few figures and notes relating to *How supernova explosions power galactic winds* by Creasey et. al.
### [Single Star Test](onestar.html)
Notes for tests involving the single star box.
### [Disk Comparison](disk_comparison.html)
Notes for Oscar's Disk Comparison
### [Miscellaneous Data](Research/)
You can find some random data files I have put together for group meetings
and the like here.  None of this stuff is organized by anything other than
filename.
{% endblock main %}

