---
title: SPH Particle Mass Variation with the Sedov Blast
---

{% extends "research.j2" %}
{% block main %}
Experiments and Results
===============================================================================
## First (Good) Run
Initial run with $\alpha = 2.0$ , with the following Makefile DEFINES:
<pre><code>-DCHANGESOFT -DGASOLINE -DRTFORCE -DDIFFUSION -DDIFFUSIONTHERMAL -DDODVDS -DVSIGVISC   -DCOOLING_METAL</code></pre>

### [Parameter File](Research/sedov_128.param)

### Radial Growth
[<img src="Research/sedov_sphmass.png" width=800>](Research/sedov_sphmass.png)
### Radial Velocity
[<img src="Research/sedov_sphmass_vel.png" width=800>](Research/sedov_sphmass_vel.png)
### Final Temperature
[<img src="Research/sedov_sphmass_temp.png" width=800>](Research/sedov_sphmass_temp.png)
### Final Entropy
[<img src="Research/sedov_sphmass_A.png" width=800>](Research/sedov_sphmass_A.png)
## Balsara switch off
### [Parameter File](Research/0_sedov_128.param)
<pre><code>bViscosityLimiter = 0</code></pre>
### Radial Growth
[<img src="Research/sedov_sphmass_noB.png" width=800>](Research/sedov_sphmass_noB.png)
### Radial Velocity
[<img src="Research/sedov_sphmass_noB_vel.png" width=800>](Research/sedov_sphmass_noB_vel.png)
### Final Temperature
[<img src="Research/sedov_sphmass_noB_temp.png" width=800>](Research/sedov_sphmass_noB_temp.png)
### Final Entropy
[<img src="Research/sedov_sphmass_noB_A.png" width=800>](Research/sedov_sphmass_noB_A.png)
## Balsara switch off, Long-range Step
### [Parameter File](Research/1_sedov_128.param)
### Radial Growth
[<img src="Research/sedov_sphmass_longstep.png" width=800>](Research/sedov_sphmass_longstep.png)
### Radial Velocity
[<img src="Research/sedov_sphmass_longstep_vel.png" width=800>](Research/sedov_sphmass_longstep_vel.png)
### Final Temperature
[<img src="Research/sedov_sphmass_longstep_temp.png" width=800>](Research/sedov_sphmass_longstep_temp.png)
### Final Entropy
[<img src="Research/sedov_sphmass_longstep_A.png" width=800>](Research/sedov_sphmass_longstep_A.png)
{% endblock main %}
